@model ProductDTO


@{
    ViewData["Title"] = "Add/edit product";
    string title = "Create product";
    string action = "Create";

    if (Model != null)
    {
        title = "Update product";
        action = "Update";
    }
}

<body>

    <h4>@title</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="@action">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Id" class="form-control" hidden />
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="IsLimited" /> @Html.DisplayNameFor(model => model.IsLimited)
                    </label>
                </div>
                <div class="form-group">
                    <label asp-for="CountLimited" class="control-label"></label>
                    <input asp-for="CountLimited" class="form-control" />
                    <span asp-validation-for="CountLimited" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="DateAdded" class="control-label"></label>
                    <input asp-for="DateAdded" class="form-control" />
                    <span asp-validation-for="DateAdded" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Price" class="control-label"></label>
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PictureLink" class="control-label"></label>
                    <input asp-for="PictureLink" class="form-control" />
                    <span asp-validation-for="PictureLink" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="@action" class="btn btn-success" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a class="btn btn-secondary" asp-action="Index">Back to List</a>
    </div>

</body>

