
@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div id="products">
    <div id="vue" class="row">
        <product-list :item="product"
                        v-for="product in products">
        </product-list>
    </div>
</div>

@section Scripts {
    <template id="list">
        <div class="col-md-4 text-center">
            <img v-bind:src="item.PictureLink" width="300" height="300" />
            <div>
                <span style="font-size: 250%"><b>{{item.Name}}</b></span>
            </div>
            <div>
                <span>Price: {{item.Price}} PLN</span>
            </div>
            <div v-if="item.IsLimited">
                <span>Remaining: {{item.CountLimited}}</span>
            </div>
            <input type="submit" value="[ ADD TO BASKET ]" />
        </div>
    </template>

    <script>
        Vue.component('product-list', {
            props: ['item'],
            template: '#list'
        });

        var vue = new Vue({
            el: '#vue',
            data: {
                products: []
            },
            mounted() {
                this.loadData()
            },
            methods: {
                loadData() {
                    axios({
                        method: 'get',
                        url: '/Product/Get',
                    }).then(response => {
                        this.products = response.data
                    }).catch (error => {
                        console.log(error.response.data)
                        let message = error.response.data + "\n\n" + error.response.status;
                        window.alert(message);
                    })
                }
            }
        });
    </script>
}
