
@model IEnumerable<ProductDTO>
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div id="products">
    <div id="vue" class="esh-catalog-items row">
        <parameter-list :parametr="parameter"
                        v-for="parameter in parameters">
        </parameter-list>
    </div>
</div>

@section Scripts {
    <template id="list">
        <div class="col-md-4 text-center">
            <img v-bind:src="parametr.pictureLink" width="300" height="300" />
            <div>
                <span style="font-size: 250%"><b>{{parametr.name}}</b></span>
            </div>
            <div>
                <span>Price: {{parametr.price}} PLN</span>
            </div>
            <div v-if="parametr.isLimited">
                <span>Remaining: {{parametr.countLimited}}</span>
            </div>
            <input type="submit" value="[ ADD TO BASKET ]" />
        </div>
    </template>

    <script>
        Vue.component('parameter-list', {
            props: ['parametr'],
            template: '#list'
        });

        var vue = new Vue({
            el: '#vue',
            data: {
                parameters: []
            },
            mounted() {
                this.loadData()
            },
            methods: {
                loadData() {
                    axios({
                        method: 'get',
                        url: '/Product/Get',
                    }).then(response => {
                        this.parameters = response.data
                    }).catch (error => {
                        console.log(error.response.data)
                        let message = error.response.data + "\n\n" + error.response.status;
                        window.alert(message);
                    })
                }
            }
        });
    </script>
}
