﻿@model IList<MilenaEmbroidery.DTOs.Shop.OrderListDTO>

@{
    ViewData["Title"] = "User page";
    //  int i = 0;
}
<div>
    <p>
        <input type="submit" asp-area="Shop" asp-controller="OrderList" asp-action="Update" class="btn btn-success" form="basicForm" value="Save" />
    </p>
</div>

<form id="basicForm" class="col-12" method="post">
    <table class="table">
        <thead>
            <tr>
                <th hidden>
                    @Html.DisplayNameFor(orderLists => orderLists[0].Id)
                </th>
                <th>
                    @Html.DisplayNameFor(orderLists => orderLists[0].ProductName)
                </th>
                <th>
                    @Html.DisplayNameFor(orderLists => orderLists[0].Quantity)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Count(); i++)
            {
                @Html.HiddenFor(orderLists => orderLists[i].ProductId)
                @Html.HiddenFor(orderLists => orderLists[i].OrderId)
                <tr>
                    <td hidden>
                        @Html.HiddenFor(orderLists => orderLists[i].Id)
                    </td>
                    <td>
                        @Html.DisplayFor(orderLists => orderLists[i].ProductName)
                    </td>
                    <td>
                        @Html.EditorFor(orderLists => orderLists[i].Quantity)
                    </td>
                    <td>
                        <a class="btn btn-danger" asp-area="Shop" asp-controller="OrderList" asp-action="Delete" asp-route-id="@Model[i].Id">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</form>